<app-header headerTitle="dates"></app-header>

<ion-content class="ion-padding">

<ion-list>

  <ion-list-header>
    <ion-label>Datos de Nacimiento</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime display-format="YYYY MM DD" [value]="fecha.toISOString()" (ionChange)="cambioFecha($event)"></ion-datetime>
  </ion-item>

  <ion-list-header>
    <ion-label>Restricciones</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Min y Max</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" min="2015" max="fecha" [value]="fecha.toISOString()" (ionChange)="cambioFecha($event)"></ion-datetime>

  </ion-item>

</ion-list>

</ion-content>
